# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# Dependency directories
node_modules/
vendor/

# Build output
dist/
build/
out/

# IDE files
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Java
*.class
target/

# C#
bin/
obj/

# Temporary files
*.tmp
*.temp